# dependencies
/node_modules
/docs/node_modules
docs
/.pnp
.pnp.js

# next.js
/.next/
/out/

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

.netlify/*

.npmrc
.yarnrc
# Local Netlify folder
.netlify
debug.log

# Editor
.vscode

# storybook
storybook-static

# Analyzer
analyze

# logs
/logs

data/fs.*
data/monitoring
**.log