<html>

<head>
    <style>
        * {
            box-sizing: border-box;
        }

        html,
        body {
            margin: 0px;
            padding: 0px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        }

        .main {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100%;
        }

        .header {
            width: 100%;
            /* padding-top: 20px; */
            /* border-bottom: 1px solid black; */
        }

        .footer {
            width: 100%;
            padding: 20px;
            /* border-top: 1px solid black; */
        }

        .footer .page {
            width: "100%";
            display: flex;
            justify-content: flex-end
        }

        .footer .content {
            text-align: center;
            margin-bottom: 16px;
            width: "100%";
            font-size: 12px;
            color:#a2afc1;
        }

        .footer a {
            color: inherit
        }
    </style>
</head>

<body>
    {{#each $pdf.pages}} {{#if @index}}
    <div style="page-break-before: always;"></div>
    {{/if}}
    <main class="main">
        <header class="header">
        </header>

        <footer class="footer">
            <div class="content">
                SAS WE GO LEARN, 10 Rue de la paix 75002 PARIS, France Téléphone : +33 670591995 / E-mail: <a href="mailto:contact@wegolearn.fr">contact@wegolearn.fr</a> N° TVA <br>FR22882346406 RCS Paris B882 346 406 N° de déclaration d’activité : 1175632575
            </div>
            

            <span class="page">Page {{getPageNumber @index}} / {{getTotalPages ../$pdf.pages}}</span>
        </footer>
    </main>
    {{/each}}
</body>

</html>